<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AdonisJS - A fully featured web framework for Node.js</title>
		
		@entryPointStyles('app')
		@entryPointScripts('app')
	</head>

	<body>
		<main class="bg-slate-200 pl-16 pt-16">
			<div class="w-4/12 h-64 bg-white rounded-xl shadow-md flex flex-col">
				<div class="h-14 rounded-t-xl border-b border-b-gray-300 flex flex-row items-center justify-between px-5 pt-1">
					<input class="text-xl text-slate-900 px-2 w-1/3" value="Class 1"/>
					<img src="{{ asset('images/trash.png') }}"/>
				</div>
			</div>
			<video></video>
		</main>
	</body>
</html>
