@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.class-width {
  width: 32rem;
}

.env-class-width {
  width: 40rem;
}

.left-fixed-distance {
  left: 42rem;
}

.left-fixed-distance-short {
  left: 42rem;
}

.left-fixed-distance-long {
  left: 62rem;
}

.heading-color {
  color: #5A45FF;
}

.bg-tiny-color {
  background-color: #5A45FF;
}

.mt-heading {
  margin-top: 0.4rem;
}

.rotating {
  animation: rotate 1s linear infinite;
}

.fading {
    opacity: 1;
    animation: fade 3s ease-in-out;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  25% { opacity: 1 }
  75% { opacity: 1 }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

body:before {
  content: '';
  background: #5A45FF;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}

main {
  margin: auto;
}

p {
  margin-bottom: 20px;
}

main code {
  font-size: 16px;
}
